/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Skia;
    src: url(../fonts/Skia\ Regular.ttf);
}

body {
    font-family: Skia;
    overflow-x: hidden;
}

.container_row {
    display: grid;
}

.layer1,
.layer2 {
    grid-column: 1;
    grid-row: 1;
}

.header-balk {
    position: fixed;
    top: 0px;
    height: 130px;
    width: 100%;
    background-color: #322248;
    z-index: 999;
}

.header-balk p {
    color: white;
    text-align: center;
    width: 900px;
    margin-left: 50%;
    margin-top: 15px;
    transform: translate(-50%, 0);
}

img {
    display: block;
    width: 100%;
    max-height: 100vh;
    margin-top: 20px;
    z-index: 50;
}

img.svg {
    float: right;
    margin-top: 1000px;
    width: 1000px;
}

img.logo {
    float: left;
    margin: 22px;
    width: 300px;
}

#tekst-balk {
    position: relative;
    top: 50%;
    height: 100px;
    width: 40%;
    background-color: #322248;
}

button {
    float: right;
    margin: 23px;
    height: 45px;
    width: 150px;
    border-radius: 23px;
    border: none;
    background-color: white;
    font-size: 20px;
}

.streep {
    float: right;
    margin-right: 50px;
    width: 5px;
    height: 50px;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

main {
    width: 50%;
    margin: 0 auto;
}

p.light {
    text-align: center;
    margin-top: 50px;
    width: 75%;
    margin-left: 50%;
    transform: translate(-50%, 0);
    font-weight: lighter;
    text-align: center;
    opacity: 0.6;
}

p.einde {
    margin-top: 50px;
}

footer p {
    color: white;
    margin-top: 30px;
}

h1 {
    font-weight: 900;
    margin-top: 50px;
    font-size: 20px;
}

h1.h1-faq {
    margin-top: 180px;
}

h2 {
    font-weight: 700;
    margin-top: 30px;
}

p {
    margin-top: 10px;
}

audio {
    margin-top: 30px;
}

footer {
    margin-top: 50px;
    margin-bottom: 0px;
    height: 400px;
    background-color: #322248;
    padding-top: 20px;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: white;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    button {
        height: 35px;
        width: 50px;
        margin: 30px;
    }
    main {
        width: 70%;
    }
    .svg {
        right: -10px;
    }
    button {
        height: 40px;
        width: 150px;
    }
    img.logo {
        width: 225px;
        margin: 30px;
    }
    .background-foto {
        height: 400px;
    }
}

@media only screen and (max-width: 500px) {
    img.logo {
        width: 200px;
        margin: 25px;
    }
    button {
        height: 35px;
        width: 90px;
        margin: 25px;
    }
    .header-balk {
        height: 100px;
    }
    .header-balk p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    img.logo {
        width: 175px;
        margin: 24px;
    }
    button {
        height: 35px;
        width: 90px;
        margin: 20px;
    }
    .header-balk {
        height: 100px;
    }
    .header-balk p {
        font-size: 11px;
    }
}

@media only screen and (max-width: 350px) {
    img.logo {
        width: 150px;
        margin: 24px;
    }
    button {
        height: 35px;
        width: 90px;
        margin: 20px;
    }
    .header-balk {
        height: 100px;
    }
}